<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="../css/gerente.css">
</head>
<body>

    <div class="info-bar">
        <h1 class="tipo">Administrador</h1>

        <div class="profile-container">
            <img src="../assets/img/profile.png" id="profile-btn" class="perfil" onclick="toggleProfile()">
        </div>
        <img src="../assets/img/companylogo.png" class="complogo">
    </div>

    <h1>Registro de Ventas</h1>

    <div id="ventas"></div>

    <span id="menu-btn" onclick="openNav()">☰ Menú</span>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="./administrador.html">Facturación</a>
        <a href="./productosAdmin.html">Productos</a>
        <a href="./registrarProductoAdmin.html" id="new-product-btn">Registrar producto</a>
        <a href="./ventasAdmin.html">Ventas</a>
        <a href="./empleados.html">Empleados</a>
        <a href="./registrarEmpleado.html">Registrar empleado</a>
        <button class="logout" onclick="logout()">Cerrar sesión</button>
    </div>

    <script>
    if (localStorage.getItem("loggedInUser") !== "administrador") {
        window.location.href = "../index.html"; 
    }
    function logout() {
    localStorage.removeItem("loggedInUser");
    window.location.href = "../index.html";
    }

    function openNav() {
            document.getElementById("mySidenav").style.width = "33vh";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="../js/ventas.js"></script>
    
</body>
</html>