<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerente</title>
    <link rel="stylesheet" href="../css/gerente.css">
</head>
<body>

    <div class="info-bar">
        <h1 class="tipo">Gerente</h1>

        <div class="profile-container">
            <img src="../assets/img/profile.png" id="profile-btn" class="perfil" onclick="toggleProfile()">
        </div>
    </div>

    <div class="ventas-container">
        <div class="titulo-ventas">
            <h1>Ventas</h1>
        </div>
        <div id="ventas" class="ventas-list"></div>
    </div>

    <span id="menu-btn" onclick="openNav()">☰ Menú</span>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="./gerente.html">Productos</a>
        <a href="./ventas.html">Ventas</a>
        <a href="./registrarProducto.html" id="new-product-btn">Registrar producto</a>
        <button class="logout" onclick="logout()">Cerrar sesión</button>
    </div>

    <script>
    if (localStorage.getItem("loggedInUser") !== "gerente") {
        window.location.href = "../index.html"; 
    }
    function logout() {
    localStorage.removeItem("loggedInUser");
    window.location.href = "../index.html";
    }

    function openNav() {
            document.getElementById("mySidenav").style.width = "33vh";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="../js/ventas.js"></script>
    
</body>
</html>